<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.valerino.infinityjb" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="InfinityJailbreak"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Xposed module to get rid of the annoying DRM checks in InfinityTV (Mediaset) app" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
        <activity
            android:name=".MainActivity"
            android:label="InfinityJailbreak" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
